<div
  class="proyect-container"
  [ngClass]="{ expanded: showMoreInfo, collapsed: !showMoreInfo }"
  [style.--dynamic-gradient]="getDynamicGradient()"
  [style.--animation-delay]="animationDelay"
>
  <div class="proyect-border">
    <!-- Imagen oculta para precarga -->
    <img
      #sourceImage
      [src]="coverImgSrc"
      (load)="onImageLoad(sourceImage)"
      style="display: none"
    />

    <!-- Imagen de portada -->
    <div
      class="cover-img"
      [ngClass]="{ 'has-url': url }"
      [style.background-image]="'url(' + coverImgSrc + ')'"
      (click)="goTo()"
    ></div>

    <!-- Información del proyecto -->
    <div class="proyect-info" [style.color]="getTextColor()">
      <h3 class="title" [ngClass]="{ show: showMoreInfo }">{{ name }}</h3>

      <div class="proyect-details">
        <p class="description" [ngClass]="{ show: showMoreInfo }">
          {{ description | translate }}
        </p>

        <div
          class="more-info"
          [class.disabled]="!canToggleInfo()"
          (click)="handleMoreInfoClick()"
        >
          <span>+ Info</span>
          <img
            [src]="
              'assets/images/icons/material-icons/arrow_' +
              (showMoreInfo ? 'up' : 'down') +
              '.svg'
            "
            [alt]="showMoreInfo ? 'Up' : 'Down'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
