<div
  class="project-container"
  [ngClass]="{ expanded: showMoreInfo, collapsed: !showMoreInfo }"
  [style.--dynamic-gradient]="dynamicGradient()"
  [style.--animation-delay]="animationDelay"
>
  <div class="project-border">
    <!-- Hidden image to preload -->
    <img
      #sourceImage
      [src]="coverImgSrc"
      (load)="onImageLoad(sourceImage)"
      style="display: none"
      loading="lazy"
    />

    <div
      class="cover-img"
      [ngClass]="{ 'has-url': url }"
      [style.background-image]="'url(' + coverImgSrc + ')'"
      (click)="goTo()"
    ></div>

    <div class="project-info" [style.color]="textColor()">
      <h3 class="title" [ngClass]="{ show: showMoreInfo }">{{ name }}</h3>

      <div class="project-details">
        <p class="description" [ngClass]="{ show: showMoreInfo }">
          {{ description | translate }}
        </p>

        <div
          class="more-info"
          [style.--btn-color]="btnColor()"
          [class.disabled]="!canToggleInfo()"
          (click)="handleMoreInfoClick()"
        >
          <span>{{ showMoreInfo ? "-" : "+" }} Info</span>
        </div>
      </div>
    </div>
  </div>
</div>
