.section-container {
  width: 80%;
  min-height: 100vh;
  padding: 100vh 0 10vh 0;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;

  .project-card {
    display: flex;
    justify-content: center;
    align-content: center;
    // height: 17rem;
    aspect-ratio: 1;
  }
}
