.section-container {
  width: 90%;
  min-height: 100vh;
  padding: 110vh 0 10vh 0;
  z-index: 1;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  .toggle-container {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    width: 100%;
  }
}

//#region Responsive
@media screen and (max-width: 760px) {
  .section-container {
    z-index: 3;
    .skills-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 530px) {
  .section-container {
    .skills-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
//#endregion
