<section>
  <div class="section-container">
    <h1
      [appAnimate]="animationDelay"
      [translationKey]="'07_CONTACT.NOW_WE_KNOW'"
    ></h1>
    <div
      class="nomacoda-img-wrapper"
      #nomacodaImgWrapper
      (mouseenter)="triggerSwing()"
    >
      <img
        src="assets/images/nomacoda/nomacoda_climber.png"
        alt="Nomacoda"
        loading="lazy"
      />
    </div>

    <p [appAnimate]="animationDelay" [translationKey]="'07_CONTACT.TALK'"></p>

    <div class="contact-methods">
      @for (contactMethod of contactMethods; track contactMethod.name){
      <a
        [href]="contactMethod.url"
        target="_blank"
        [attr.title]="contactMethod.name"
      >
        <img
          [src]="contactMethod.iconSrc"
          [alt]="contactMethod.name"
          loading="lazy"
        />
      </a>
      }
    </div>
  </div>
</section>
<app-oscillator style="bottom: 0"></app-oscillator>
