<article class="blog-article">
  <header class="blog-header">
    <p class="date">{{ date | date : "longDate" : "" : currentLocale }}</p>
    <h2 class="title">{{ title }}</h2>
  </header>
  <!-- TODO:Cambiar nombre a article-card -->
  <!-- TODO:Translate -->
  <app-button
    color="#ffa726"
    text="Artículo completo"
    (buttonClick)="navigateToPostDetail()"
    aria-label="Botón para ver el artículo completo"
  ></app-button>

  <!-- TODO:Crea un componente para las imágenes del blog -->
  <!-- <app-photo *ngIf="imgUrl" [imgSrc]="imgUrl"></app-photo>
  <div class="content" [innerHTML]="content"></div> -->
</article>
