@use "/src/styles/palette" as palette;

.blog-article {
  margin: 1.5rem auto;
  padding: 1.5rem 2rem;

  max-width: 40vw;
  overflow: hidden;

  background: palette.$background-gradient-start;
  border-radius: 16px;

  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.08);

  .blog-header {
    .date {
      color: palette.$text-secondary;
      font-style: italic;
      text-align: end;
    }

    .title {
      color: palette.$accent-yellow;
      margin: 0 0 0.75rem 0;
      text-align: center;
      font-size: 2rem;
    }
  }

  .content {
    margin: 0;
    line-height: 1.7;
    text-align: justify;

    ::ng-deep p {
      color: palette.$text-primary;
    }
  }
}
