@use "/src/styles/palette" as palette;

.picture-container {
  height: 19rem;
  aspect-ratio: 16/9;
  border-radius: 23% 0 41% 29%;
  // border: solid 2px rgba($color: palette.$accent-yellow, $alpha: 0.8);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  clip-path: ellipse(85% 63% at 14% 62%);
}

.picture-container::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba($color: palette.$text-secondary, $alpha: 0.1) 30%,
    rgba($color: palette.$text-secondary, $alpha: 0.3) 50%,
    rgba($color: palette.$text-secondary, $alpha: 0.1) 70%
  );

  transform: rotate(30deg);
  animation: shine 3s infinite linear;
  animation-delay: var(--animation-delay);
  pointer-events: none;
}

@keyframes shine {
  0% {
    transform: translate(-150%, -150%) rotate(30deg);
  }
  100% {
    transform: translate(150%, 150%) rotate(30deg);
  }
}
