@use "/src/styles/palette" as palette;

.mountains {
  position: absolute;
  z-index: 2;
  top: 69vh;
  height: 47vh;
  width: 100vw;
  right: 0;
}

.section-container {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  .certs-container {
    position: absolute;
    top: 0;
    left: 0;

    inset: 0; // Use all screen
    overflow: hidden;

    .cert-img {
      position: absolute;
      width: 6rem;
      z-index: 1;

      transform: scale(0);
      animation: grow-image 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
      animation-delay: 2s;

      img {
        width: 100%;
        transition: transform 0.3s, filter 0.3s ease-in-out;
        filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.6));
      }

      &:hover {
        img {
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);

          filter: none;
        }
      }
    }
  }

  .img-container {
    z-index: 2;
    width: 40vw;
    position: relative;

    img {
      width: 100%;
    }

    .background-img {
      position: absolute;
      left: 0;
      z-index: -1;
      transform: scale(0);
      animation: grow-image 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
      animation-delay: 1s;
    }

    .nomacoda-img {
      opacity: 0;
      animation: fade-in-nomacoda 2s ease forwards;
      animation-delay: 0s;
    }
  }

  .text-container {
    z-index: 3;
    width: 60vw;

    p {
      font-size: 1.2rem;
      font-style: italic;
    }

    h1 {
      width: 80%;
      font-size: 4rem;
      margin: 0;
    }
  }
}

@keyframes grow-image {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-nomacoda {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(30px);
  }
  12.5% {
    transform: translateY(-21.2px) translateX(21.2px);
  }
  25% {
    transform: translateY(-30px) translateX(0);
  }
  37.5% {
    transform: translateY(-21.2px) translateX(-21.2px);
  }
  50% {
    transform: translateY(0) translateX(-30px);
  }
  62.5% {
    transform: translateY(21.2px) translateX(-21.2px);
  }
  75% {
    transform: translateY(30px) translateX(0);
  }
  87.5% {
    transform: translateY(21.2px) translateX(21.2px);
  }
  100% {
    transform: translateY(0) translateX(30px);
  }
}

//#region Responsive
@media screen and (max-width: 1532px) {
  .section-container {
    .text-container {
      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .section-container {
    .text-container {
      width: 90vw;
    }

    .img-container {
      position: absolute;
      width: 70vw;
    }
  }
}

@media screen and (max-width: 780px) {
  .section-container {
    .text-container {
      width: 80vw;
      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .section-container {
    .text-container {
      display: none;
    }

    .img-container {
      width: 90vw;
    }
  }
}
//#endregion
