<section>
  <div class="section-container">
    <div class="img-container">
      <picture>
        <source
          srcset="assets/images/nomacoda/nomacoda_full_transparent.avif"
          type="image/avif"
        />
        <source
          srcset="assets/images/nomacoda/nomacoda_full_transparent.webp"
          type="image/webp"
        />
        <img
          id="nomacoda"
          class="picture nomacoda-img"
          src="assets/images/nomacoda/nomacoda_full_transparent.png"
          alt="Nomacoda"
          loading="lazy"
        />
      </picture>
      <!-- <img
        id="nomacoda"
        class="picture nomacoda-img"
        src="assets/images/nomacoda/nomacoda_full_transparent.png"
        alt="Nomacoda"
        loading="lazy" -->
      <!-- /> -->
      <!-- <img
        class="background-img"
        src="assets/images/nomacoda/nomacoda_background.png"
        alt="Nomacoda background"
        loading="lazy"
      /> -->
      <picture>
        <source
          srcset="assets/images/nomacoda/nomacoda_background.avif"
          type="image/avif"
        />
        <source
          srcset="assets/images/nomacoda/nomacoda_background.webp"
          type="image/webp"
        />
        <img
          class="background-img"
          src="assets/images/nomacoda/nomacoda_background.png"
          alt="Nomacoda background"
          loading="lazy"
        />
      </picture>

      <!-- <app-picture
        class="picture"
        imgSrc="assets/images/nomacoda/nomacoda_background"
        originalFormat="png"
        description="Nomacoda background"
      ></app-picture> -->
    </div>
    <div class="text-container">
      <p [appAnimate]="3300" translationKey="01_HOME.HELLO">
        {{ "01_HOME.HELLO" | translate }}
      </p>
      <h1 [appAnimate]="3300" translationKey="01_HOME.DESCRIPTION"></h1>
    </div>
  </div>
</section>
<app-oscillator initialTargetId="nomacoda" style="top: 0"></app-oscillator>
