<section>
  <div class="section-container">
    <div *ngFor="let cert of certs" class="certs-container">
      <a
        class="cert-img"
        [href]="cert.url"
        target="_blank"
        [attr.title]="cert.name"
      >
        <img [src]="cert.iconSrc" [alt]="cert.name" />
      </a>
    </div>

    <div class="img-container">
      <img
        id="nomacoda"
        class="picture nomacoda-img"
        src="assets/images/nomacoda/nomacoda_full_transparent.avif"
        alt="Nomacoda"
      />
      <img
        class="background-img"
        src="assets/images/nomacoda/nomacoda_background.avif"
        alt="Nomacoda background"
      />
    </div>
    <div class="text-container">
      <p [appAnimate]="3300" translationKey="01_HOME.HELLO">
        {{ "01_HOME.HELLO" | translate }}
      </p>
      <h1 [appAnimate]="3300" translationKey="01_HOME.DESCRIPTION"></h1>
    </div>
  </div>
</section>
<app-oscillator initialTargetId="nomacoda" style="top: 0"></app-oscillator>

<img
  id="mountains"
  class="mountains"
  src="assets/images/mountains.avif"
  alt="mountains"
/>
