@use "/src/styles/palette" as palette;

.post-card {
  position: relative;
  margin: 1.5rem auto;
  padding: 1.5rem 2rem;

  min-height: 35vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  background: palette.$background-gradient-start;
  border-radius: 16px;

  box-shadow: 0 8px 24px palette.$shadow-light;

  &__bg {
    position: absolute;
    inset: 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    inset: 1rem;
    background: rgba(palette.$background-gradient-start, 0.8);
    border-radius: 12px;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  .blog-header {
    &__date {
      color: palette.$text-secondary;
      font-style: italic;
      text-align: end;
    }

    &__title {
      color: palette.$accent-yellow;
      margin: 0 0 0.75rem 0;
      text-align: center;
      font-size: 2rem;
    }
  }

  .excerpt {
    text-align: center;
  }

  .post-footer {
    display: flex;
    justify-content: center;
  }
}
