<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1>{{ "ABOUT.ABOUT_ME" | translate }}</h1>
  </header>
  <div class="section-container" #contentRef>
    <div class="row">
      <app-photo
        imgSrc="assets/images/photos/me_1.jpg"
        [altText]="'ABOUT.DIEGO_PORTRAIT_1' | translate"
      ></app-photo>
      <p>
        {{ "ABOUT.PARAGRAPH_1" | translate }}
      </p>
    </div>

    <div class="row">
      <app-photo
        imgSrc="assets/images/photos/me_2.jpg"
        [altText]="'ABOUT.DIEGO_PORTRAIT_2' | translate"
      ></app-photo>
      <p>
        {{ "ABOUT.PARAGRAPH_2" | translate }}
      </p>
    </div>

    <div class="row">
      <app-photo
        imgSrc="assets/images/photos/me_3.jpeg"
        [altText]="'ABOUT.DIEGO_PORTRAIT_3' | translate"
      ></app-photo>
      <p>
        {{ "ABOUT.PARAGRAPH_3" | translate }}
      </p>
    </div>

    <div class="row">
      <app-photo
        imgSrc="assets/images/photos/me_4.jpeg"
        [altText]="'ABOUT.DIEGO_PORTRAIT_4' | translate"
      ></app-photo>
      <p>
        {{ "ABOUT.PARAGRAPH_4" | translate }}
      </p>
    </div>
  </div>
</section>
