<section>
    <header class="section-header">
        <h1 #title>Certificados</h1>
    </header>
    <div class="section-container">
        <div class="tag-canvas">
            <div class="canvas-container">
                <ng-tag-canvas [options]="options">
                    @for (cert of certs; track cert.name) {
                    <a ngTag class="cert-tag" (click)="detectDblClick(cert)" [title]="cert.name">
                        <img width="150" height="150" [src]="cert.iconSrc" [alt]="cert.name" />
                    </a>
                    }
                </ng-tag-canvas>
            </div>
        </div>
    </div>
</section>