<div class="sections-wrapper">
  <app-home></app-home>

  <div class="cave-components">
    <div class="about-trigger" #aboutTrigger>
      @if (showAbout()) {
        <app-about></app-about>
      } @else {
        <div class="lazy-loader" role="status" aria-label="Loading">
          <app-loading />
        </div>
      }
    </div>

    <div class="projects-trigger" #projectsTrigger>
      @if (showProjects()) {
        <app-projects></app-projects>
      } @else {
        <div class="lazy-loader" role="status" aria-label="Loading">
          <app-loading />
        </div>
      }
    </div>

    <div class="experience-trigger" #experienceTrigger>
      @if (showExperience()) {
        <app-experience></app-experience>
      } @else {
        <div class="lazy-loader" role="status" aria-label="Loading">
          <app-loading />
        </div>
      }
    </div>
  </div>

  <div class="contact-trigger" id="contact-section" #contactTrigger>
    @if (showContact()) {
      <app-contact style="width: 100vw"></app-contact>
    } @else {
      <div class="lazy-loader" role="status" aria-label="Loading">
        <app-loading />
      </div>
    }

    <a class="blog-btn" routerLink="/blog">
      <img
        src="assets/images/icons/blog_signal.avif"
        [alt]="'COMMON.NAV_BLOG' | translate"
      />
    </a>

    <footer>
      <span>Crafted by Nomacoda ©{{ actualYear() }}. Inspired by nature</span>
      <img
        src="assets/images/icons/tree.svg"
        width="20"
        height="20"
        style="vertical-align: middle; margin-left: 0.3em"
        alt=""
        loading="lazy"
      />
    </footer>
  </div>
</div>
