.mountains {
  position: absolute;
  z-index: 2;
  top: 69vh;
  height: 47vh;
  width: 100vw;
  right: 0;
}

.stalactites {
  position: absolute;
  bottom: 81vh;
  width: 95vw;
  height: 20vh;
  z-index: 2;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
