<div class="sections-wrapper">
  <app-home></app-home>
  <img
    id="mountains"
    class="mountains"
    src="assets/images/mountains.png"
    alt="mountains"
  />
  <!-- TODO:Use palette -->
  <div style="background: #0f3254">
    <app-about></app-about>
    <app-projects></app-projects>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-certs></app-certs>
  </div>
  <img
    class="stalactites"
    src="assets/images/stalactites.png"
    alt="stalactites"
  />
  <app-contact></app-contact>
  <footer>
    <!-- Grounded in code, inspired by nature
    <img
      src="assets/images/icons/tree.svg"
      width="20"
      height="20"
      style="vertical-align: middle; margin-left: 0.3em"
      alt="tree icon"
    /> -->
    // Crafted by Nomacoda ©{{ actualYear }}. Inspired by nature.
    <img
      src="assets/images/icons/tree.svg"
      width="20"
      height="20"
      style="vertical-align: middle; margin-left: 0.3em"
      alt="tree icon"
    />
  </footer>
</div>
