<div class="sections-wrapper">
  <app-home></app-home>

  <picture>
    <source srcset="assets/images/mountains.avif" type="image/avif" />
    <source srcset="assets/images/mountains.webp" type="image/webp" />
    <img
      id="mountains"
      class="mountains"
      src="assets/images/mountains.png"
      alt="mountains"
    />
  </picture>

  <div class="cave-components">
    <app-about></app-about>
    <app-projects></app-projects>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-certs></app-certs>
  </div>
  <picture>
    <source srcset="assets/images/stalactites.avif" type="image/avif" />
    <source srcset="assets/images/stalactites.webp" type="image/webp" />
    <img
      class="stalactites"
      src="assets/images/stalactites.png"
      alt="stalactites"
    />
  </picture>
  <app-contact></app-contact>
  <footer>
    // Crafted by Nomacoda ©{{ actualYear }}. Inspired by nature
    <img
      src="assets/images/icons/tree.svg"
      width="20"
      height="20"
      style="vertical-align: middle; margin-left: 0.3em"
      alt="tree icon"
      loading="lazy"
    />
  </footer>
</div>
