@use "/src/styles/palette" as palette;

.cave-components {
  background-color: palette.$background-gradient-start;
}

.section-loading {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #aaa;
}

.blog-btn {
  position: fixed;
  bottom: 0;
  right: 0;

  height: 12vh;
  z-index: 3;
  perspective: 700px;
  margin: 1rem;

  transform: translateY(120%);
  opacity: 0;
  animation: emerge-from-ground 600ms cubic-bezier(0.22, 1, 0.36, 1) 2s forwards;

  img {
    height: 100%;
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.6));
    transform-origin: bottom center;
    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover {
    img {
      transform: rotateX(12deg) rotateY(16deg);
      filter: none;
    }
  }
}

@keyframes emerge-from-ground {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }
  70% {
    transform: translateY(-6%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

//#region Responsive
@media screen and (max-width: 720px) {
  .stalactites {
    width: 200vw;
  }
}

@media screen and (max-width: 450px) {
  footer {
    font-size: 0.7rem;
  }
}
//#endregion
