.mountains {
  position: absolute;
  z-index: 2;
  top: 69vh;
  height: 47vh;
  width: 100vw;
  right: 0;
}

.stalactites {
  position: absolute;
  bottom: 81vh;
  width: 100vw;
  height: 20vh;
  z-index: 2;
}
