@use "/src/styles/palette" as palette;

.cave-components {
  background-color: palette.$background-gradient-start;
}

.section-loading {
  min-height: 40vh; // o el valor que se aproxime al tamaño real de la sección
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #aaa;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

//#region Responsive
@media screen and (max-width: 720px) {
  .stalactites {
    width: 200vw;
  }
}

@media screen and (max-width: 450px) {
  footer {
    font-size: 0.7rem;
  }
}
//#endregion
