<section>
  <header class="section-header">
    <h1 [appAnimate]="2000" translationKey="04_EXPERIENCE.EXPERIENCE"></h1>
  </header>
  <div class="section-container">
    <ul>
      @for (e of experience; track e.company) {
      <li appTimeline customClassName="in-view">
        <div>
          <time>{{ e.yearRange | translate }}</time>
          <div class="discovery">
            <h2>{{ e.company }}</h2>
            <p class="designation">{{ e.designation | translate }}</p>
            <span>{{ e.role | translate }}</span>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</section>
