<div
  class="lang-selector-container"
  appClickOutside
  (appClickOutside)="closeOptions()"
>
  <button
    #triggerBtn
    class="container-header"
    [class.active]="showOptions()"
    (click)="toggleOptions()"
    (keydown)="onKeyDown($event)"
    [attr.aria-expanded]="showOptions()"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-controls]="'lang-options'"
    [attr.aria-label]="
      ('COMMON.LANGUAGE_SELECTOR' | translate) + ': ' + currentLanguage()?.label
    "
    type="button"
  >
    <div class="selected-language">
      <img
        class="flag-icon"
        [src]="'assets/images/flags/' + currentLanguage()?.flag + '.avif'"
        width="24"
        height="18"
        alt=""
      />
      {{ currentLanguage()?.label }}
    </div>
    @if (showOptions()) {
      <img
        src="assets/images/icons/material-icons/arrow_up.svg"
        width="24"
        height="24"
        [alt]="'COMMON.COLLAPSE_MENU' | translate"
      />
    } @else {
      <img
        src="assets/images/icons/material-icons/arrow_down.svg"
        width="24"
        height="24"
        [alt]="'COMMON.EXPAND_MENU' | translate"
      />
    }
  </button>
  <ul
    #langOptions
    id="lang-options"
    class="lang-selector-options"
    [class.visible]="showOptions()"
    [class.hidden]="!showOptions()"
    [attr.aria-hidden]="!showOptions()"
    role="listbox"
    [attr.aria-label]="'COMMON.AVAILABLE_LANGUAGES' | translate"
  >
    @for (lang of filteredLanguages(); track lang.id; let i = $index) {
      <li
        class="lang"
        (click)="selectLanguage(lang.id)"
        (keydown)="onLanguageKeyDown($event, lang.id)"
        [attr.tabindex]="showOptions() ? 0 : -1"
        [attr.aria-selected]="currentLanguage()?.id === lang.id"
        [attr.aria-label]="lang.label"
        role="option"
      >
        <img
          class="flag-icon"
          [src]="'assets/images/flags/' + lang.flag + '.avif'"
          width="24"
          height="18"
          alt=""
        />
        {{ lang.label }}
      </li>
    }
  </ul>
</div>
