<div class="lang-selector-container">
  <div
    class="container-header"
    [ngClass]="{ active: showOptions }"
    (click)="showOptions = !showOptions"
  >
    <div class="selected-language">
      {{ currentLanguage?.label }}
    </div>
    @if(showOptions){
    <img src="assets/images/icons/material-icons/arrow_up.svg" alt="Up" />
    }@else{
    <img src="assets/images/icons/material-icons/arrow_down.svg" alt="Down" />
    }
  </div>
  <ul
    class="lang-selector-options"
    [ngClass]="{ visible: showOptions, hidden: !showOptions }"
  >
    @for (lang of filteredLanguages; track lang.id;) {
    <li class="lang" (click)="selectLanguage(lang.id)">
      {{ lang.label }}
    </li>
    }
  </ul>
</div>
