<div class="progress-container">
    <svg class="progress-svg" [class.visible]="isProgressVisible" [class.hidden]="!isProgressVisible" width="140"
        height="90" viewBox="0 0 120 60" xmlns="http://www.w3.org/2000/svg">
        <path class="progress-path" d="M10 50 A40 40 0 0 1 110 50" fill="none"
            [attr.stroke-dasharray]="currentStrokeDasharray" stroke-dashoffset="0" />
        <text x="60" y="35" text-anchor="middle" fill="white" font-size="10">{{experienceText}}</text>
    </svg>
    <p id="animatedText" class="progress-text" (click)="showProgress()">
        {{ text }}
    </p>
</div>