/* The container */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  z-index: 2;

  .toggle {
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.6));
  }
}

.toggle-btn {
  position: relative;
  display: inline-block;
  // width: 60px;
  height: var(--toggle-height);
  aspect-ratio: 16/9;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* Hide default HTML checkbox */
.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Rounded sliders */
.slider:before {
  position: absolute;
  content: "";
  height: var(--slider-height);
  // width: 26px;
  aspect-ratio: 1;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* On state */
.toggle-btn input:checked + .slider {
  background: linear-gradient(
    90deg,
    rgba(0, 172, 193, 1),
    rgba(84, 58, 183, 1),
    rgba(0, 172, 193, 1)
  );

  background-size: 200% 100%;
  animation: moveGradient 5s linear infinite;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* On state when slider is moved */
.toggle-btn input:focus + .slider {
  box-shadow: 0 0 1px white;
}

/* On state indicator */
.toggle-btn input:checked + .slider:before {
  transform: translateX(26px);
  //Este si pertenece a un filtro
  // transform: translateX(17px);
}

/* Off state background color */
.toggle-btn input:not(:checked) + .slider {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Off state indicator color */
.toggle-btn input:not(:checked) + .slider:before {
  background-color: white;
}

.label {
  font-family: "Montserrat", sans-serif;
}
