// Backgrounds
$background-gradient-start: #0f3254;
$background-gradient-end: #115f51;
$surface-sidebar: #f6f8fa;

// Text
$text-primary: #f0f4f8;
$text-secondary: #a0bbd8;
$text-red: #d9534f;

// Accents
$accent-yellow: #ffa726;
$accent-blue: #29b6f6;

// Shadows
$shadow-light: rgba(246, 248, 250, 0.6); // #f6f8fa
$shadow-dark: rgba(15, 50, 84, 0.37); // #0f3254
$shadow-yellow: rgba(255, 167, 38, 0.35); // #ffa726
$shadow-blue: rgba(41, 182, 246, 0.05); // #29b6f6
