<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h2>
      {{ "EXPERIENCE.EXPERIENCE" | translate }}
    </h2>
  </header>
  <div class="section-container" #contentRef>
    <ul>
      @for (e of experience(); track e.company) {
        <li appTimeline customClassName="in-view">
          <div>
            <time
              [attr.datetime]="
                e.yearStart && (e.yearEnd === 'Present' || e.yearEnd === 'Actualidad')
                  ? e.yearStart
                  : e.yearStart && e.yearEnd
                  ? e.yearStart + '/' + e.yearEnd
                  : null
              "
            >{{ e.yearRange | translate }}</time>
            <div class="discovery">
              <h2>{{ e.company }}</h2>
              <p class="designation" [innerHTML]="e.designation | translate"></p>
              <span [innerHTML]="e.role | translate"></span>
            </div>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
