.error-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  z-index: 1;
}

.error-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portfolio-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 12vh;
  z-index: 3;
  perspective: 700px;
  margin: 1rem;

  img {
    height: 100%;
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.6));
    transform-origin: bottom center;
    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover {
    img {
      transform: rotateX(12deg) rotateY(-16deg);
      filter: none;
    }
  }
}
