.inner-header {
  margin: 0 0 0 5%;
  padding: 0;

  height: 100vh;
  overflow-y: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  background: linear-gradient(
    90deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
  position: relative;
  text-align: center;
}

.arrow {
  position: absolute;
  right: 1rem;
  width: 5rem;
  z-index: 2;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  cursor: pointer;

  &.up {
    top: 1rem;
    &:hover {
      transform: translateY(-10px);
    }
  }
  &.down {
    bottom: 1rem;
    &:hover {
      transform: translateY(10px);
    }
  }
  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
}
