<div class="header">
  <!-- <app-navigation-menu /> -->
  <main>
    <div class="inner-body" [@routeAnimations]="getRouteAnimation(outlet)">
      <app-arrow-navigator
        direction="up"
        [visible]="!isNavigatingFirstSection"
        (click)="navigateToSection(-1)"
      ></app-arrow-navigator>

      <router-outlet #outlet="outlet" />

      <app-arrow-navigator
        direction="down"
        [visible]="!isNavigatingLastSection"
        (click)="navigateToSection(1)"
      ></app-arrow-navigator>
    </div>
  </main>
  <app-sidebar />
</div>
