@if (isBlogRoute()) {
  <a
    class="skip-link"
    routerLink="/"
    [attr.aria-label]="'COMMON.SKIP_TO_PORTFOLIO' | translate"
  >{{ 'COMMON.SKIP_TO_PORTFOLIO' | translate }}</a>
} @else {
  <a
    class="skip-link"
    href="#blog"
    [attr.aria-label]="'COMMON.SKIP_TO_BLOG' | translate"
  >{{ 'COMMON.SKIP_TO_BLOG' | translate }}</a>
}
<header class="header">
  <app-lang-selector></app-lang-selector>
</header>
<app-sidebar />
<main id="main-content" class="inner-body">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
