.section-container {
  width: 90%;
  min-height: 100vh;
  padding: 15vh 0 5vh 0;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  .toggle-container {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    width: 100%;
  }
}
