<section>
  <header class="section-header">
    <h1 #title>Habilidades</h1>
  </header>

  <div class="section-container">

    <div class="toggle-container">
      <app-toggle-button label="Mostrar experiencia" (check)="showAll($event)"></app-toggle-button>
    </div>

    <div class="skills-container">
      @for (skill of skills; track skill.name) {
      <app-skill [years]="skill.yearsOfExperience" [progress]="calcProgress(skill.yearsOfExperience)"
        [text]="skill.name" [logoSrc]="skill.logoSrc" [showProgressBar]="showAllProgressBars"></app-skill>
      }
    </div>
  </div>
</section>