.section-container {
  position: relative;
  top: 15vh;
  width: 90%;
  height: 90vh; /*Five more to use infinite scroll*/

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;

  justify-items: center;
  align-items: center;
}
