<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1 [appAnimate]="2000" translationKey="03_SKILLS.SKILLS"></h1>
  </header>

  <div class="section-container" #contentRef>
    <div class="toggle-container">
      <app-toggle-button
        label="03_SKILLS.SHOW_EXPERIENCE"
        (check)="showAll($event)"
      ></app-toggle-button>
    </div>

    <div class="skills-container">
      @for (skill of skills; track skill.name) {
      <app-skill
        [years]="skill.yearsOfExperience"
        [progress]="calcProgress(skill.yearsOfExperience)"
        [text]="skill.name"
        [logoSrc]="skill.logoSrc"
        [showProgressBar]="showAllProgressBars"
      ></app-skill>
      }
    </div>
  </div>
</section>
