<img
  class="stalactites"
  src="assets/images/stalactites-1280.avif"
  srcset="
    assets/images/stalactites-480.avif   480w,
    assets/images/stalactites-768.avif   768w,
    assets/images/stalactites-1280.avif 1280w,
    assets/images/stalactites-1920.avif 1920w
  "
  sizes="100vw"
  alt="stalactites"
/>
<section>
  <div class="section-container">
    <h1
      [appAnimate]="animationDelay"
      [translationKey]="'07_CONTACT.NOW_WE_KNOW'"
    ></h1>
    <div
      class="nomacoda-img-wrapper"
      #nomacodaImgWrapper
      (mouseenter)="triggerSwing()"
      role="img"
      aria-label="Nomacoda escalador"
    >
      <img
        src="assets/images/nomacoda/nomacoda_climber.avif"
        alt=""
        aria-hidden="true"
      />
    </div>

    <p [appAnimate]="animationDelay" [translationKey]="'07_CONTACT.TALK'"></p>

    <div class="contact-methods">
      @for (contactMethod of contactMethods; track contactMethod.name){
      <a
        [href]="contactMethod.url"
        target="_blank"
        [attr.title]="contactMethod.name"
        class="contact-icon-wrapper"
      >
        <img [src]="contactMethod.iconSrc" [alt]="contactMethod.name" />
        <span class="contact-tooltip">{{ contactMethod.info }}</span>
      </a>
      }
    </div>
  </div>
</section>
<app-oscillator style="bottom: 0"></app-oscillator>
