<section class="slider-slide">
  <div class="section-container">
    <h2
      [appAnimate]="animationDelay()"
      [translationKey]="'CONTACT.NOW_WE_KNOW'"
    ></h2>
    <button
      type="button"
      class="nomacoda-animation-wrapper btn-reset"
      [attr.aria-label]="'CONTACT.GO_TO_REVIEWS' | translate"
      (click)="navigate()"
    >
      <img
        src="assets/images/nomacoda/nomacoda_climber1.avif"
        class="img-base"
        alt=""
        aria-hidden="true"
      />
      <img
        src="assets/images/nomacoda/nomacoda_climber2.avif"
        class="img-hover"
        alt=""
        aria-hidden="true"
      />
    </button>

    <p [appAnimate]="animationDelay()" [translationKey]="'CONTACT.TALK'"></p>

    <app-contact-form></app-contact-form>
  </div>
</section>
<app-oscillator style="bottom: 0"></app-oscillator>
