<section class="slider-slide">
  <div class="section-container">
    <h1
      [appAnimate]="animationDelay()"
      [translationKey]="'07_CONTACT.NOW_WE_KNOW'"
    ></h1>
    <div
      class="nomacoda-animation-wrapper"
      role="img"
      [attr.aria-label]="'07_CONTACT.NOMACODA_CLIMBING' | translate"
      (click)="navigate()"
    >
      <img
        src="assets/images/nomacoda/nomacoda_climber1.avif"
        class="img-base"
        alt=""
        aria-hidden="true"
      />
      <img
        src="assets/images/nomacoda/nomacoda_climber2.avif"
        class="img-hover"
        alt=""
        aria-hidden="true"
      />
    </div>

    <p [appAnimate]="animationDelay()" [translationKey]="'07_CONTACT.TALK'"></p>

    <app-contact-form></app-contact-form>
  </div>
</section>
<app-oscillator style="bottom: 0"></app-oscillator>
