<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1>{{ "06_CERTS.CERTS" | translate }}</h1>
  </header>
  <div class="section-container" #contentRef>
    <app-certs-filter
      class="filter-component"
      [filterParams]="certsFilter"
      (filter)="filter()"
    />
    <div class="tag-canvas">
      <div
        class="canvas-container"
        *ngIf="showCanvas && filteredCerts.length > 0"
      >
        <ng-tag-canvas [options]="tagCanvasOptions">
          @for (cert of filteredCerts; track cert.name) {
          <button
            ngTag
            class="cert-tag"
            (click)="detectDblClick(cert)"
            [attr.aria-label]="'Ver certificado: ' + cert.name"
            type="button"
          >
            <img
              class="canvas-img"
              [src]="cert.iconSrc + '.avif'"
              [alt]=""
              aria-hidden="true"
            />
          </button>
          }
        </ng-tag-canvas>
      </div>
    </div>
  </div>
</section>
