.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 3;
}

.waves-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 7rem;
  overflow: hidden;
  z-index: -1;
}

.waves {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 110vh;
  height: 15%;
}

.sidebar-content {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;

    position: absolute;
    top: 0;

    li {
      margin: 10px 0;
    }
  }

  img {
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  img:hover {
    transform: scale(1.5);
  }
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

//#region Responsive
@media screen and (max-width: 720px) {
  .waves {
    height: 10%;
  }

  .sidebar-content ul {
    left: 1rem;
  }
}
//#endregion
