.filter-container {
  text-align: start;
  //TODO:Esta font-family se puede poner para toda la app
  font-family: "Montserrat", sans-serif;

  .container-header {
    display: flex;
    align-items: center;
    justify-content: end;

    cursor: pointer;

    img {
      height: 3rem;
    }
  }

  .filter-options {
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;

    .options-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      cursor: pointer;
    }

    .filter-params {
      display: flex;
      flex-direction: column;

      overflow: hidden;
      transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;

      .toggle {
        margin: 0.5rem;
      }

      hr {
        margin: 0.2rem;

        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

// TODO: Estas 2 clases podrían meterse en un css común
.visible {
  opacity: 1;
  max-height: 500px;
}
.hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.justify-end {
  justify-content: end;
}
