<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1 [appAnimate]="2000" translationKey="06_CERTS.CERTS"></h1>
  </header>
  <div class="section-container" #contentRef>
    <app-certs-filter
      class="filter-component"
      [filterParams]="certsFilter"
      (filter)="filter()"
    />
    <div class="tag-canvas">
      <div class="canvas-container" *ngIf="showCanvas">
        <ng-tag-canvas [options]="options">
          @for (cert of filteredCerts; track cert.name) {
          <a
            ngTag
            class="cert-tag"
            (click)="detectDblClick(cert)"
            [title]="cert.name"
          >
            <img
              width="170"
              height="170"
              [src]="cert.iconSrc"
              [alt]="cert.name"
            />
          </a>
          }
        </ng-tag-canvas>
      </div>
    </div>
  </div>
</section>
