<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1 class="bordered-text">{{ "06_CERTS.CERTS" | translate }}</h1>
  </header>
  <div class="section-container" #contentRef>
    <app-certs-filter
      class="filter-component"
      [filterParams]="certsFilter"
      (filter)="filter()"
    />
    <div class="tag-canvas">
      <div
        class="canvas-container"
        *ngIf="showCanvas && filteredCerts.length > 0"
      >
        <ng-tag-canvas [options]="tagCanvasOptions">
          @for (cert of filteredCerts; track cert.name) {
          <a
            ngTag
            class="cert-tag"
            (click)="detectDblClick(cert)"
            [title]="cert.name"
          >
            <img
              class="canvas-img"
              height="120"
              width="120"
              [src]="cert.iconSrc"
              [alt]="cert.name"
            />
          </a>
          }
        </ng-tag-canvas>
      </div>
    </div>
  </div>
</section>
