.section-container {
  width: 80%;
  min-height: 100vh;
  padding: 15vh 0 5vh 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;

  .proyect-card {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25rem;
  }
}
