@use "src/styles/_palette" as palette;

.project-container {
  position: relative;
  border-radius: 2.5rem;
  box-shadow: 0 8px 32px 0
    rgba($color: palette.$background-gradient-start, $alpha: 0.37);
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 18rem;
  min-width: 19rem;
  max-width: 400px;
  width: 100%;
  margin: auto;
  transition: box-shadow 0.5s, background 0.5s,
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), z-index 0.5s, min-width 0.5s,
    max-width 0.5s, width 0.5s;
  z-index: 1;

  background: var(
    --dynamic-gradient,
    linear-gradient(
      135deg,
      palette.$background-gradient-start 0%,
      palette.$background-gradient-end 100%
    )
  );
  background-size: 300% 300%;
  animation: moveGradient 5s linear infinite alternate;

  @keyframes moveGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .project-border {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 0;
  }

  .cover-img {
    width: 100%;
    height: 9rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    border: none;

    box-shadow: 0 4px 24px 0
      rgba($color: palette.$background-gradient-start, $alpha: 0.17);

    &.has-url:hover {
      box-shadow: 0 4px 24px 0
        rgba($color: palette.$accent-yellow, $alpha: 0.35);
      cursor: pointer;
    }
  }

  .project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: palette.$text-primary;
    text-align: center;
    padding: 0;

    .title {
      font-size: 2.2rem;
      font-weight: bold;
      transition: none;

      height: 0;
      opacity: 0;
    }

    .title.show {
      height: auto;
      opacity: 1;
      margin-bottom: 1.5rem;
    }

    .project-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;

      .description {
        font-size: 1.1rem;
        color: palette.$text-primary;
        height: auto;
        opacity: 1;
        transition: none;
        text-align: center;
        overflow-y: auto;

        max-height: 0;
        opacity: 0;
      }

      .description.show {
        max-height: 9rem;
        opacity: 1;
      }
    }
  }

  &.expanded {
    transform: scale(1.12);
    z-index: 20;
    box-shadow: 0 16px 48px 0
      rgba($color: palette.$background-gradient-start, $alpha: 0.45);
    max-width: 90vw;
    width: 110%;
    transition: box-shadow 0.5s, background 0.5s,
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), z-index 0.5s, min-width 0.5s,
      max-width 0.5s, width 0.5s;
  }

  &.collapsed {
    position: static;
    min-width: 19rem;
    max-width: 400px;
    width: 100%;
    transform: scale(1);
    z-index: 1;
  }
}

.project-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
