<div
  class="project-container"
  [class.expanded]="showMoreInfo()"
  [class.collapsed]="!showMoreInfo()"
  [style.--dynamic-gradient]="dynamicGradient()"
  [style.--animation-delay]="animationDelay()"
>
  <div class="project-border">
    <!-- Hidden image to preload -->
    <img
      #sourceImage
      [src]="coverImgSrc() + '.avif'"
      (load)="onImageLoad(sourceImage)"
      alt=""
      style="display: none"
    />
    <button
      class="cover-img"
      [class.has-url]="url()"
      [style.background-image]="'url(' + coverImgSrc() + '.avif)'"
      (click)="goTo()"
      (keydown)="onKeyDown($event, 'goTo')"
      [attr.aria-label]="'05_PROJECTS.VIEW_PROJECT' | translate: { name: name() }"
      type="button"
    ></button>

    <div class="project-info" [style.color]="textColor()">
      <h3 class="title" [class.show]="showMoreInfo()">{{ name() }}</h3>

      <div class="project-details">
        <p class="description" [class.show]="showMoreInfo()">
          {{ description() | translate }}
        </p>

        <app-button
          style="z-index: 0"
          [color]="btnColor()"
          [text]="(showMoreInfo() ? '-' : '+') + ' Info'"
          [disabled]="!canToggleInfo()"
          (buttonClick)="handleMoreInfoClick()"
          [attr.aria-expanded]="showMoreInfo()"
          [attr.aria-label]="
            (showMoreInfo()
              ? '05_PROJECTS.TOGGLE_INFO_HIDE'
              : '05_PROJECTS.TOGGLE_INFO_SHOW') | translate
          "
        ></app-button>
      </div>
    </div>
  </div>
</div>
