<section>
  <header class="section-header" [ngClass]="{'visible': hasReachedTop, 'hidden': !hasReachedTop}">
    <h1 #title>Sobre mí</h1>
  </header>
  <div class="section-container">
    <div class="row">
      <app-picture imgSrc="assets/images/me_1.jpg"></app-picture>
      <p>
        Soy un desarrollador FullStack especializado en desarrollo Front-End.
        Actualmente resido en España aunque amo viajar así que no aseguro que esto se mantenga.
        Además de conocer el mundo siempre que la situación lo permite,
        escucho y toco música, me gusta componer canciones cuando tengo cosas que decir.
      </p>
    </div>

    <div class="row">
      <app-picture imgSrc="assets/images/me_2.jpg"></app-picture>
      <p>
        Me considero una persona muy organizada, llegando al punto de tener
        varios tableros creados en Trello para diversas tareas de mi día a día o proyectos que tengo pendientes.
      </p>
    </div>

    <div class="row">
      <p>
        Respecto al trabajo, me gustan los proyectos que implican ayudar a la humanidad en cierto modo,
        igual que muchos compañeros, me siento motivado cuando sé que lo que hago tiene un fin positivo
        y ayuda a alguien.
      </p>
    </div>
    <div class="row">
      <p>
        Labore pariatur laboris culpa voluptate reprehenderit. Ut amet ad mollit esse magna. Consectetur dolor aliqua
        sunt do exercitation laboris amet id anim est nostrud culpa minim cillum. Nisi proident adipisicing ipsum aute
        tempor velit esse sint. Dolore ex velit sit labore velit velit qui laborum.
      </p>
    </div>
  </div>
</section>