<section>
  <!-- Loading state -->
  @if (loading()) {
    <div class="loading-container">
      <app-loading />
    </div>
  }

  <!-- Error state -->
  @if (hasError()) {
    <div class="error-container">
      <p>{{ "BLOG.ERROR" | translate }}</p>
      <button (click)="clearError()">
        {{ "BLOG.CLEAR_ERROR" | translate }}
      </button>
      <button (click)="refreshPosts()">{{ "BLOG.RETRY" | translate }}</button>
    </div>
  }

  <!-- Dashboard -->
  @if (!loading() && !hasError()) {
    @let viewModel = vm();
    @if (!viewModel.hasSlug) {
      <header>
        <h1>{{ "BLOG.TITLE" | translate }}</h1>
      </header>
    }
    <div class="section-container">
      @if (viewModel.posts && !viewModel.hasSlug) {
        <app-blog-filter (filterChange)="onFilterChange($event)" />
        <div class="blog-cards-container">
          @for (post of viewModel.posts; track post.id) {
            <app-post-card
              [currentLocale]="viewModel.currentLocale"
              [title]="post.title"
              [date]="post.publishedAt"
              [image]="post.image"
              [excerpt]="post.excerpt"
              [slug]="post.slug"
              [category]="post.category"
            />
          } @empty {
            <p>{{ "BLOG.NO_POSTS" | translate }}</p>
          }
        </div>
      }

      <!-- Post -->
      @if (viewModel.hasSlug && viewModel.selectedPost; as post) {
        <div class="blog-post">
          <header class="blog-post__header">
            <a
              class="blog-post__header__back-btn"
              routerLink="/blog"
              [attr.aria-label]="'BLOG.BACK_TO_BLOG_ARIA' | translate"
            >
              <img
                src="assets/images/icons/back_arrow.avif"
                [alt]="'BLOG.BACK_TO_BLOG' | translate"
              />
            </a>
            <p class="blog-post__header__date">
              {{
                post.publishedAt
                  | date: "longDate" : "" : viewModel.currentLocale
              }}
            </p>
          </header>
          <h2 class="blog-post__title">{{ post.title }}</h2>
          <p class="blog-post__content">{{ post.excerpt }}</p>
          @if (post.image) {
            <img
              class="blog-post__image"
              [src]="post.imageUrl"
              [alt]="post.title"
            />
          }
          <div class="blog-post__content" [innerHTML]="post.body"></div>
        </div>
      }

      <!-- Unknown post -->
      @if (viewModel.hasSlug && !viewModel.selectedPost) {
        <div class="blog-post blog-post--not-found">
          <a
            class="blog-post__header__back-btn"
            routerLink="/blog"
            [attr.aria-label]="'BLOG.BACK_TO_BLOG_ARIA' | translate"
          >
            <img
              src="assets/images/icons/back_arrow.avif"
              [alt]="'BLOG.BACK_TO_BLOG' | translate"
            />
          </a>
          <h2 class="blog-post__title">
            {{ "ERROR_404.TITLE" | translate }}
          </h2>
          <img
            class="blog-post__image"
            src="assets/images/nomacoda/error_404.avif"
            [alt]="'ERROR_404.IMAGE_ALT' | translate"
          />
          <p>
            {{ "ERROR_404.BODY" | translate }}
          </p>
        </div>
      }
    </div>

    <a class="portfolio-btn" routerLink="/">
      <img
        src="assets/images/icons/portfolio_signal.avif"
        [alt]="'COMMON.NAV_HOME' | translate"
      />
    </a>
  }
</section>
