<section>
  <header
    class="section-header"
    appParallaxHeader
    [parallaxContent]="contentRef"
    #headerRef
  >
    <h1 class="bordered-text">{{ "02_ABOUT.ABOUT_ME" | translate }}</h1>
  </header>
  <div class="section-container" #contentRef>
    <div class="row">
      <app-picture imgSrc="assets/images/pictures/me_1.jpg"></app-picture>
      <p>
        {{ "02_ABOUT.PARAGRAPH_1" | translate }}
      </p>
    </div>

    <div class="row">
      <app-picture imgSrc="assets/images/pictures/me_2.jpg"></app-picture>
      <p>
        {{ "02_ABOUT.PARAGRAPH_2" | translate }}
      </p>
    </div>

    <div class="row">
      <p>
        {{ "02_ABOUT.PARAGRAPH_3" | translate }}
      </p>
    </div>
    <div class="row">
      <p>
        {{ "02_ABOUT.PARAGRAPH_4" | translate }}
      </p>
    </div>
  </div>
</section>
